@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>
<p>CÉSAR EMMANUEL RAMÍREZ PRECIADO <br><br>EXAMEN SEGUNDA PARCIAL</p>
<div class="container">
    <img src="https://th.bing.com/th/id/OIP.3j6nO0oBShk73vbaxfN1-AHaIm?rs=1&pid=ImgDetMain" />
    <main>
        <style>
        .container {
        width: 200px;
        height: 200px;
        }
        </style>
    </main>
</div>
