@page "/weather"

<PageTitle>Weather</PageTitle>

<h1>Mi experiencia</h1>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Empresa</th>
            <th>Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2023-01-01</td>
            <td>magmalabs</td>
            <td>Desarrollador Junior</td>
        </tr>
    </tbody>
</table>

<h2>Formulario de experiencia</h2>

<form>
    <div class="form-group">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" class="form-control" />
    </div>
    <div class="form-group">
        <label for="empresa">Empresa:</label>
        <input type="text" id="empresa" class="form-control" />
    </div>
    <div class="form-group">
        <label for="cargo">Cargo:</label>
        <input type="text" id="cargo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
